<!-- contenedor que se despliega para dar espacios entre secciones -->

<div id="whiteDiv">
    <br><br><br><br><br><br>
</div>
<!-- titulo de la seccion -->

<div id="titleSection">
    <h1 class="titleSection font2">
        SOBRE NOSOTROS</h1>
</div>

<br>

<div class="container" id="firstContainer">

    <div class="row" id="firstRow">
        <!-- contenedor del texto sobre nosotros -->

        <div class="col-6" id="textAbout">
            <p id="parr">JM Consultores, Consultoría Jurídica Especializada es un grupo de profesionales del derecho surgida desde el año de 1998, con vasta experiencia en diversas ramas del derecho, que ofrece una amplia gama de servicios legales, tanto de asistencia
                como de defensa legal y en temas de Derecho Público, Derecho Privado y Derecho Social.</p>
        </div>
        <!-- contenedor de la imagen sobre nosotros -->

        <div class="col-6">
            <img src="../../../assets/pictures/fondoAbout.png" alt="" id="imgIconAbout">
        </div>
    </div>
</div>

<!-- subseccion de certificaciones -->

<h2 class="subtitle font2">Nuestras Certificaciones:</h2>

<div class="container" id="secondContainer">
    <div class="row" id="secondRow">
        <div class="col-sm">
            <img src="../../../assets/pictures/cer.png" alt="" class="imgCer">
        </div>
        <div class="col-sm">
            <img src="../../../assets/pictures/cer.png" alt="" class="imgCer">
        </div>
    </div>

</div>