<!-- pagina de inicio -->

<div class="img_background">
    <!-- logo principal de la vaga tours -->

    <div id="principalLogo">
        <img src="/assets/pictures/principalLogo.png" id="logoP">
    </div>
    <!-- menu de la pagina de inicio -->

    <div class="container" id="secMenu">
        <div class="row" id="firstRow">
            <div class="col-sm">
                <a href="#services"><button mat-button class="_btnMenu" id="btnServices" color="services">Servicios</button></a>
            </div>
            <div class="col-sm">
                <a href="#aboutUs"><button mat-button class="_btnMenu" id="btnAboutUs" color="accent">Sobre Nosotros</button></a>
            </div>
            <div class="col-sm">
                <a href="#aboutUs"><button mat-button class="_btnMenu" id="btnContact" color="contact">Contáctanos</button></a>
            </div>
        </div>

    </div>
</div>
<!-- contenedor de seccion de servicios -->
<br><br><br>
<div id="services">
    <app-services></app-services>
</div>
<!-- contenedor de seccion de sobre nosotros -->

<div id="aboutUs">
    <app-aboutus></app-aboutus>
</div>
<!-- contenedor de seccion de contactanos -->

<div id="contact">
    <app-contact></app-contact>
</div>

<br><br>

<!-- menu superior que se despliega solo si pasamos a una seccion mas abajo de la pagina de inicio -->

<nav class="navbar navbar-expand-sm " (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'" id="navBar">
    <div id="logo">
        <img src="/assets/pictures/LogoNav.png" alt="" id="logoMenu">
    </div>
    <ul class="navbar-nav ml-auto" id="navR">
        <li class="nav-item">
            <a class="nav-link" href="#services">Servicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#aboutUs">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact">Contáctanos</a>
        </li>
    </ul>
</nav>