<br>
<!-- titulo de la seccion -->
<h1 class="titleSection font2">
    SERVICIOS</h1>

<!-- iconos de los servicios -->
<div class="container" id="firstContainer">
    <div class="row" id="firstRow">
        <div class="col-sm">
            <img src="../../../assets/pictures/allinclusive.png" alt="" class="imgIconService" (click)="viewDetailsService(1)">
        </div>
        <div class="col-sm">
            <img src="../../../assets/pictures/bus.png" alt="" class="imgIconService" (click)="viewDetailsService(2)">
        </div>
        <div class="col-sm">
            <img src="../../../assets/pictures/tour.png" alt="" class="imgIconService" (click)="viewDetailsService(3)">
        </div>
    </div>

</div>

<div class="container" id="secondContainer">
    <div class="row" id="secondRow">
        <div class="col-sm">
            <img src="../../../assets/pictures/airplane.png" alt="" class="imgIconService" (click)="viewDetailsService(4)">
        </div>
        <div class="col-sm">
            <img src="../../../assets/pictures/planet.png" alt="" class="imgIconService" (click)="viewDetailsService(5)">
        </div>
    </div>
</div>